* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    margin: auto;
}

.logo span {
    color: #fff;
    font-size: 1.8rem;
}

.colored-section {
    position: fixed;
    width: -webkit-fill-available;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1363DF;
    position: relative;
    height: 54px;

    @media (max-width:600px) {
        justify-content: space-between;
    }
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.menu-icon {
    display: none;
}

.menu-icon span {
    color: #fff;
    font-size: 30px;
}

@media (max-width : 600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: blue;
        overflow: hidden;
        gap: 0px;
    }

    nav ul li {
        padding: 20px;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }
}

/* Cover Img */

.cover-img {
    min-height: 5rem;

    @media (max-width:600px) {
        min-height: 30rem;
    }
}

.cover-img img {
    min-height: inherit;
    width: -webkit-fill-available;
}

/* Main content */

.main-content {
    padding: 0% 1%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    @media (max-width : 600px) {
        display: block;
        padding: 0;
    }
}

.filter {
    flex-basis: 22%;

    @media (max-width : 600px) {
        display: none;
    }
}

.products {
    flex-basis: 73%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-category label {
    cursor: pointer;
    display: block;
    padding: 10px 0px;
}

.filter-category-sidenav label {
    cursor: pointer;
    display: block;
    padding: 10px 10px;
}


.filter-sorting-option {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    cursor: pointer;
}

.filter-sorting-option h6 {
    text-decoration: underline;
    cursor: pointer;
}

/* Right-Popup */

.right-popup {
    background-color: #fff;
    border-left: 1px solid #808080;
    top: 0px;
    position: fixed;
    min-height: -webkit-fill-available;
    right: 0px;
    width: 78%;
    /* display: none; */
}

.sidebar-heading {
    /* background-color: #F3F3F3; */
    display: flex;
    /* padding: 7%; */
    justify-content: space-between;
}

.filter-category {
    @media (max-width : 600px) {
        padding: 10%;
    }
}

.responsive-filter-sorting {
    display: none;

    @media (max-width : 600px) {
        display: block;
        padding: 10px 0px;
        min-height: 16px;
    }
}

/* Products */

.items {
    flex-basis: 30%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px #ccc;
    cursor: pointer;

    @media (max-width : 600px) {
        flex-basis: 100%;
    }
}

.items img {
    width: 100%;
    height: 250px;
}

.items p,
h3 {
    padding: 10px;
}

.error-ui {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    padding: 5%;
}

.error-ui h1 {
    font-size: 3rem;
    color: grey;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 20;
    left: 56%;
    @media (max-width:600px) {
        left: 40%;
    }
}

.loaderDiv{
    min-height: 400px;
}

/* Searching */

.searchInputField {
    padding: 5px;
    cursor: pointer;

    @media (max-width : 600px) {
        margin: 14px 0px 14px 7px;
    }
}

.searching-div {
    display: block;

    @media (max-width : 600px) {
        display: none;
    }
}

/* Footer */

.white-section {
    height: 100px;
    background-color: #2A65D7;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-icon {
    margin: 100px 10px 10px 10px;
}

.user-feature {
    margin: 10px 0px
}

#sort {
    width: 63%;
    height: 29px;
    @media (max-width:600px) {
        width: 67%;
        margin: 14px 0px 14px 7px;
    }
}

.product-profile {
    @media (min-width : 600px) {
        margin: 0px 2%;
    }
}

.product-profile h1 {
    position: relatve;
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 1% 0%;
    font-size: 2rem;
}

.right-popup  h3 {
    @media (max-width:600px) {
        width: -webkit-fill-available;
        background-color: #F3F3F3 !important;
        padding: 7%;
    }
}

.close_btn{
    padding: 6%;
    align-items: center;
    display: flex;
    background-color: #F3F3F3;
}

.error-dv{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}